@font-face {
  font-family: 'Rubik Glitch';
  src: url('../../assets/fonts/RubikGlitch-Regular.ttf') format('truetype'),
       url('../../assets/fonts/RubikGlitch-Regular.woff') format('woff'),
       url('../../assets/fonts/MPLUS1Code-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'M PLUS 1 Code';
  src: url('../../assets/fonts/MPLUS1Code-Medium.ttf') format('truetype'),
       url('../../assets/fonts/MPLUS1Code-Medium.woff') format('woff'),
       url('../../assets/fonts/MPLUS1Code-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}