@mixin text-style ($font-size, $font-weight, $font-color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
}

@mixin respond($breakpoint) {

  @if $breakpoint == phone {
    @media only screen and (max-width: 767px) { @content };
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1279px) { @content };
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 1281px) { @content };
  }
}