.about {
  &__container {
    @extend %container;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__content {
    display: flex;
    align-items: center;
  }
  
  &__content img {
    width: 30vw;
    height: auto;
  }
  
  &__text {
    color: $color-white;
    margin-top: 15px;
    font-size: 1.5vw; // тут решила оставить величину
    text-align: justify;
    width: 45vw;
    height: auto;
  }
}